body {
  background-color: #79BAC1;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #2A7886;
  font-size: 40px
}

h3 {
  color: #fff1cf;
  font-size: 25px
}

a {
  color: #F1F3F4
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #F1F3F4;
  border-width: 8px;
  height: 0;
  width: 8%
}
